<section class="prematch-wrapper" ng-show="!loading">
	<div class="col-md-6 col-md-offset-3">
		<div class="title">
			<img src="img/event_envelope.png" alt="">
			<img src="img/event_logo.png" alt="">
		</div>
		
		<p class="intro">
			狄卡是個匿名校園討論交流平台，<br>
			珍惜與每一個人交流的機會，<br>
			緣份錯過了，就不會再回來。<br>
			北商的各位，準備好跨出你們的生活圈了嗎？
		</p>

		<div>
			<button class="button blue" ng-click="select()">
				跨出去吧!
			</button>
		</div>	
	</div>
</section>

<div class="loadbox" ng-show="loading">
  <div class="content">
    <div class="loader-circle"></div>
    <div class="loader-line-mask">
      <div class="loader-line"></div>
    </div>
  </div>
</div>