<section class="prematch-wrapper" ng-show="!loading">
	<div class="col-md-4 col-md-offset-4">
		<div class="title">
			<img src="img/logo.png" alt="">
		</div>
		
		<p class="intro">
			狄卡是一個交流平台 <br>
			跨出生活圈 <br>
			Enrich Your Life!
		</p>

		<div>
			<button class="button blue" ng-click="select()">
				跨出去吧!
			</button>
		</div>	
	</div>
</section>

<div class="loadbox" ng-show="loading">
  <div class="content">
    <div class="loader-circle"></div>
    <div class="loader-line-mask">
      <div class="loader-line"></div>
    </div>
  </div>
</div>